"*":
  core:
    themes: [
      "one-dark-ui"
      "monokai-shade"
    ]
  editor:
    fontFamily: "Source Code Pro"
    fontSize: 12
    invisibles: {}
    lineHeight: 1.4
    preferredLineLength: 100
    scrollPastEnd: true
  welcome:
    showOnStartup: false
